.btn {
  padding: 12px 24px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #111111;

  // @media screen and (max-width: 480px) {
  //   font-size: 16px;
  //   line-height: calc(19 / 16);
  // }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(20 / 14);
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(24 / 16);
  }

  &:hover {
    background: linear-gradient(#111111, #111111) padding-box,
      linear-gradient(141deg, #ffc226 9.4%, #f84119 91.91%) border-box;
    border: 3px solid transparentt;
    color: #ffffff;
  }
}

//white-theme
.white-mode .btn:hover {
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(141deg, #ffc226 9.4%, #f84119 91.91%) border-box;
  border: 3px solid transparentt;
  color: #f87719;
}
