.btn {
  padding: 12px 24px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #111111;

  // @media screen and (max-width: 480px) {
  //   font-size: 16px;
  //   line-height: calc(19 / 16);
  // }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(20 / 14);
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: calc(24 / 16);
  }

  &:hover {
    background: #000000;
    border-color: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    color: #ffffff;
  }
}

//white-theme
.white-mode .btn:hover {
  background: transparent;
  border-color: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  color: #f87719;
}
