.catalog-list-rating__list {
  display: flex;
  justify-content: flex-end;
  width: 86px;
  height: 14px;
  gap: 4px;
  padding: 0;
  border: none;
  color: var(--grey-txt-color);
  background-color: unset;
}

.catalog-list-rating__list-item--noactive::before {
  content: '★';
  width: 100%;
  height: 100%;
  color: var(--grey-txt-color);
}

.catalog-list-rating__list-item--active::before {
  content: '★';
  width: 100%;
  height: 100%;
  color: #ffae00;
}
