.container {
  width: 320px;
}

.catalog.section {
  padding: 40px 0 10px 0;
}

.catalog-list__search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.catalog-list__search-input {
  padding: 10px 20px;
  margin-right: 16px;
  width: 224px;
  height: 40px;
  background-color: var(--dark-bg);
  border: 1px solid var(--light-bg);
  border-radius: 8px;
  color: var(--grey-txt-color);
  font-weight: 500;
  font-size: 14px;
}

.catalog-list__search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  color: var(--light-bg);
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.catalog-list__search-icon {
  color: currentColor;
  transition: color 300ms ease-in-out;
}

.catalog-list__search-button:hover,
.catalog-list__search-button:focus {
  color: var(--dark-bg);
}

.catalog-list__items-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog-list__item:last-child {
  margin-right: auto;
}
.catalog-list__list-link:hover .catalog-list__list-wrapper,
.catalog-list__list-link:focus .catalog-list__list-wrapper {
  background-color: #0000002c;
}

.catalog-list__list-wrapper {
  position: relative;
  display: flex;
  width: 280px;
  height: 406px;
  border-radius: 4px;
  background-color: unset;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
  transition: background-color 300ms ease-in-out;
}

.catalog-list__image {
  display: block;
  object-fit: cover;
  z-index: -1;
  width: 100%;
  border-radius: 5px;
}

.catalog-list__info {
  position: absolute;
  padding: 12px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--white-txt-color);
}

.catalog-list__additional-info {
  display: flex;
  justify-content: space-between;
  color: var(--grey-txt-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
}

.catalog-list__title {
  margin-bottom: 10px;
}

.catalog-list__error {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .catalog-list__search-form {
    margin-bottom: 36px;
  }
  .catalog-list__search-input {
    padding: 14px 20px;
    width: 202px;
    height: 44px;
    font-size: 16px;
  }
  .catalog-list__search-button {
    width: 44px;
    height: 44px;
  }
  .catalog-list__list-wrapper {
    width: 224px;
    height: 325px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
  .catalog-list__search-form {
    margin-bottom: 48px;
  }
  .catalog-list__search-input {
    padding: 14px 24px;
    width: 336px;
    height: 48px;
    font-size: 16px;
  }
  .catalog-list__search-button {
    width: 48px;
    height: 48px;
  }
  .catalog-list__list-wrapper {
    width: 394px;
    height: 574px;
  }
  .catalog-list__info {
    padding: 20px;
  }
  .catalog-list__additional-info {
    font-size: 20px;
    line-height: 1.15;
  }
  .catalog-list__title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.15;
  }
}
