@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: Roboto, sans-serif;
  background: var(--dark-bg);
  color: var(--white-txt-color);
}

body.no-scroll {
  overflow-y: hidden;
}

.container {
  width: 100%;
  margin: 0px auto;
  padding: 0 20px;

  @media screen and (max-width: 480px) {
    min-width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 32px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 32px;
  }
}
