.footer {
  display: flex;
  justify-content: center;

  &__box {
    @media screen and (min-width: 1200px) {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      padding-top: 100px;
      padding-bottom: 80px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      padding-top: 77px;
      padding-bottom: 40px;
    }

    @media screen and (max-width: 767px) {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      padding: 40px 42px 28px;
    }
  }

  &__text {
    @media screen and (min-width: 768px) {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      line-height: calc(19 / 16);

      display: flex;
      align-items: center;
      text-align: center;

      color: var(--grey-txt-color);
    }

    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: calc(16 / 14);

      width: 236px;

      color: var(--grey-txt-color);
    }
  }

  &__link {
    text-decoration: underline;

    color: var(--grey-txt-color);
  }

  &__link:hover {
    color: var(--active-txt-color);
  }
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
  --animate-delay: 2s;
  --animate-repeat: infinite;
}
