.hero {
  height: 380px;
  max-width: 320px;

  margin-left: auto;
  margin-right: auto;

  background-position: 0 0, -50px 0;
  background-repeat: no-repeat;
  background-size: auto, cover;

  @media screen and (min-width: 768px) {
    height: 372px;
    max-width: 768px;

    background-position: 0px -60px, 275px 0;
    background-size: auto, contain;
  }
  @media screen and (min-width: 1200px) {
    height: 660px;
    max-width: 1280px;

    background-size: auto, cover;
    background-repeat: no-repeat;
    background-position: 0px -60px, 275px -60px;
  }
}

.hero-container {
  height: 100%;

  @media screen and (min-width: 1200px) {
    width: 1280;
  }
}

.hero-description {
  width: 250px;
  height: 100%;
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    padding-top: 0px;
    width: 300px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    width: 464px;
  }
}

.hero-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  color: var(--white-txt-color);

  @media screen and (min-width: 768px) {
    font-size: 44px;
    line-height: 52px;
  }
  @media screen and (min-width: 1200px) {
    max-height: 500px;
    font-size: 64px;
    line-height: 75px;
  }
}

.hero-vote {
  display: flex;
  align-items: center;
  margin-top: 12px;
  @media screen and (min-width: 1200px) {
    margin-top: 16px;
  }
}

.hero-text {
  width: 166px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  margin-top: 8px;

  color: var(--seconday-txt-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 19px;

    margin-top: 16px;
  }
}

.hero-text-API {
  margin-top: 16px;
  max-height: 160px;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    max-height: 80px;
    width: 200px;
  }
  @media screen and (min-width: 768px) {
    max-height: 80px;
  }

  @media screen and (min-width: 1200px) {
    max-height: none;
    margin-top: 28px;
  }
}

.hero-text-more {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline;
  }
  @media screen and (min-width: 1200px) {
  }
}

.hero-btn {
  min-width: 117px;
  height: 38px;
  margin-top: 16px;
  padding: 12px 24px;
  border-radius: 74px;
  font-family: 'Roboto';
  border: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #111111;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 768px) {
    min-width: 128px;
    height: 40px;
    margin-top: 32px;
    font-size: 14px;
    line-height: 16px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 140px;
    height: 48px;
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

.hero-btn:hover,
.hero-btn:focus {
  background: linear-gradient(141.22deg, #111111, #111111) padding-box,
    linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%) border-box;
  color: #ffffff;
  border: 2px solid transparent;
  border-radius: 74px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

//white-theme

.white-mode .hero-btn:hover,
.white-mode .hero-btn:focus {
  background: linear-gradient(141.22deg, #ffffff, #ffffff) padding-box,
    linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%) border-box;
  color: #f87719;
  border: 2px solid transparent;
  border-radius: 74px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.white-mode .hero-title,
.white-mode .hero-text {
  @media screen and (max-width: 767px) {
    color: var(--white-txt-color);
  }
  @media screen and (min-width: 768px) {
    color: var(--black-txt-color);
  }
}
