.upcoming-title {
  font-family: 'Roboto';
  font-weight: 500;

  text-transform: uppercase;
  color: #ffffff;

  @media screen and (max-width: 480px) {
    font-size: 16px;
    line-height: calc(19 / 16);
  }
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: calc(28 / 24);
  }
  @media screen and (min-width: 1200px) {
    font-size: 28px;
    line-height: calc(33 / 28);
  }
}

.container__top {
  display: flex;
  align-items: end;
  justify-content: space-between;

  @media screen and (max-width: 480px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 28px;
  }
}

.see__all {
  font-weight: 500;
  color: #f87719;

  @media screen and (max-width: 480px) {
    font-size: 16px;
    line-height: calc(19 / 16);
  }
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: calc(28 / 24);
  }
  @media screen and (min-width: 1200px) {
    font-size: 28px;
    line-height: calc(33 / 28);
  }
}

.catalog-list__image {
  // width: 395px;
  // height: 574px;
}

.results {
  margin-top: 80px;
  margin-bottom: 60px;
}
