.modal-card {
  opacity: 0;
  visibility: hidden;
  z-index: 20;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--dark-bg);
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);

  border-radius: 16px;

  @media screen and (min-width: 1200px) {
    padding: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 44px;
  }

  @media screen and (max-width: 767px) {
    padding: 52px 16px;
  }
}

.modal-movie--show {
  opacity: 1;
  visibility: visible;
}

.modal-card__wrapper {
  padding: 0;
  box-sizing: border-box;
  width: 248px;

  @media screen and (min-width: 768px) {
    width: 616px;
    height: 400px;
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    width: 726px;
    height: 478px;
    display: flex;
  }
}
.modal-poster {
  width: 248px;
  height: 315px;
  margin-bottom: 22px;
  @media screen and (min-width: 768px) {
    width: 294px;
    height: 400px;
    margin: 0 16px 0 0;
  }

  @media screen and (min-width: 1200px) {
    width: 375px;
    height: 478px;
    margin: 0 20px 0 0;
  }
}

.modal-title {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(32 / 24);
  color: var(--white-txt-color);
  margin-bottom: 50px;
}

.modal-details__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: #b7b7b7;
}
.modal-details__about {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--grey-txt-color);
}

.modal-details__story {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);
  color: var(--seconday-txt-color);
}

.btn-add-remove {
  padding: 12px 24px;
  background: transparent;
  border-radius: 74px;
  border-color: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #ffffff;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(20 / 14);
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(24 / 16);
  }

  &:hover {
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    border-color: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    color: #ffffff;
  }
}
