.modal-card {
  opacity: 0;
  visibility: hidden;
  z-index: 20;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--dark-bg);
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);

  border-radius: 16px;

  @media screen and (min-width: 1200px) {
    padding: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 44px;
  }

  @media screen and (max-width: 767px) {
    padding: 52px 16px;
  }
}

.modal-movie--show {
  opacity: 1;
  visibility: visible;
}

.modal-card {
  padding: 0;
  box-sizing: border-box;
  width: 248px;

  @media screen and (min-width: 768px) {
    width: 616px;
    height: 400px;
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    width: 726px;
    height: 478px;
    display: flex;
  }
}
.modal-poster {
  width: 248px;
  height: 315px;
  margin-bottom: 22px;
  @media screen and (min-width: 768px) {
    width: 294px;
    height: 400px;
    margin: 0 16px 0 0;
  }

  @media screen and (min-width: 1200px) {
    width: 375px;
    height: 478px;
    margin: 0 20px 0 0;
  }
}

.modal-title {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(32 / 24);
  color: var(--white-txt-color);
}
