.close-modal-btn {
  cursor: pointer;
  position: absolute;

  width: 24px;
  height: 24px;

  stroke: #f8f8f8;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    top: 40px;
    right: 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    top: 24px;
    right: 24px;
  }

  @media screen and (max-width: 767px) {
    top: 20px;
    right: 16px;
  }
}

// .modal-movie {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: none;
//   justify-content: center;
//   align-items: center;
// }

// .modal-movie__overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
// }

// .modal-movie__content {
//   position: relative;
//   background-color: #fff;
//   padding: 20px;
//   max-width: 500px;
//   width: 100%;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
//   border-radius: 5px;
// }

// .modal__close {
//   position: absolute;
//   top: 10px;
//   right: 10px;
//   background-color: transparent;
//   border: none;
//   cursor: pointer;
// }

// .modal-movie {
//   display: none;
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);

//   max-width: 280px;
//   padding: 52px 16px;

//   background-color: #fff;
//   border-radius: 10px;
//   z-index: 999;
// }

// .modal-movie--show {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// // .modal-movie--backdrop {
// // }

// .modal-thumb {
//   width: 248px;
// }

// .modal__card {
//   background-color: #ffffff;
//   max-width: 600px;
//   padding: 16px;
//   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
//   background-color: #1a191f;
//   color: #ffffff;
//   display: flex;
//   flex-direction: column;
// }

// .modal__movie-backdrop {
//   width: 200px;
//   margin: 0 auto
// }

// .modal__movie-info {
//   margin-left: 20px;
// }

// .modal__button-close {
//   padding: 5px;
//   margin: 10px;
//   align-self: center;
// }

// .modal__movie-site {
//   color: #ffd80e
// }

// .modal-poster {
//   border-radius: 5px;
// }

// .modal-title {
//   margin-top: 22px;

//   color: #111111;
//   font-weight: 500;
//   font-size: 20px;
//   line-height: 1.15;
// }

// .modal-container__details {
//   margin-top: 29px;
// }

// .modal-details__list {
//   margin-bottom: 4px;
// }

// .modal-details__item {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 12px;
// }

// .modal-details__item:last-child {
//   margin-bottom: 0px;
// }

// .modal-details__name,
// .modal-details__about {
//   color: #111111;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
// }

// .modal-details__about {
//   margin-bottom: 12px;
// }

// .modal-details__value {
//   width: 108px;

//   color: #282828;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
// }

// .points,
// .amount {
//   padding: 1px 8px;
//   background-color: #f8f8f8;
//   border-radius: 5px;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 14px;
// }

// .slash {
//   margin-left: 7px;
//   margin-right: 4px;

//   color: #b7b7b7;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 16px;
// }

// .modal-details__story {
//   color: #282828;
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 1.67;
// }

// .btn-add-remove {
//   display: inline-block;
//   padding: 12px 24px;
//   margin-top: 16px;

//   font-family: "Roboto";
//   color: #111111;
//   background: linear-gradient(#fff, #fff) padding-box,
//     linear-gradient(141deg, #ffc226 9.4%, #f84119 92%) border-box;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 1.17;

//   border: 1px solid transparent;
//   border-radius: 74px;

//   cursor: pointer;

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

.modal-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;

  z-index: 2;
}

.modal-movie .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}