.library {
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0 144px 20px;
  text-align: left;

  background-color: black;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(14, 14, 14, 0),
      rgba(14, 14, 14, 0)
    ),
    url('../images/library_desktop.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;

  background-image: linear-gradient(
      to right,
      rgba(14, 14, 14, 0),
      rgba(14, 14, 14, 0)
    ),
    url('../images/library_mobile.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(14, 14, 14, 0),
        rgba(14, 14, 14, 0)
      ),
      url('../images/library_desktop.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  @media screen and (min-width: 768px) and (max-width: 1219px) {
    background-image: linear-gradient(
        to right,
        rgba(14, 14, 14, 0),
        rgba(14, 14, 14, 0)
      ),
      url('../images/library_tablet.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding: 62px 0 206px 32px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(14, 14, 14, 0),
          rgba(14, 14, 14, 0)
        ),
        url('../images/library@2x_tablet.jpg');
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
    }
  }

  @media screen and (min-width: 1220px) {
    padding: 169px 0 249px 117px;
    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(14, 14, 14, 0),
        rgba(14, 14, 14, 0)
      ),
      url('../images/library_desktop.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(14, 14, 14, 0),
          rgba(14, 14, 14, 0)
        ),
        url('../images/library@2x_desktop.jpg');
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
    }
  }
  &__title {
    margin-bottom: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.18;
    color: white;
    @media screen and (min-width: 768px) {
      font-size: 44px;
      line-height: 1.18;
    }
    @media screen and (min-width: 1220px) {
      font-size: 64px;
      line-height: 1.17;
      margin-bottom: 16px;
    }
  }
  &__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: white;
    @media screen and (max-width: 767px) {
      max-width: 249px;
    }
    @media screen and (min-width: 768px) {
      width: 357px;
    }
    @media screen and (min-width: 1220px) {
      width: 464px;
      font-size: 16px;
      line-height: 1.18;
    }
  }
}
