::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--active-txt-color);
  box-shadow: 1px 1px 3px 1px rgba(255, 107, 8, 0.42);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-bg);
  border-radius: 20px;
  border: 5px solid var(--dark-bg);
}

.student {
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  justify-content: center;
  padding: 10px;

  @media screen and (min-width: 1200px) {
    width: 820px;
    height: 420px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 620px;
    height: 440px;
  }

  @media screen and (max-width: 767px) {
    width: 280px;
    height: 680px;
  }

  &__item {
    display: inline-block;
    width: 250px;
    padding: 15px;
    text-align: center;
    border: 2px solid var(--active-txt-color);
    border-radius: 20px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:hover {
    box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
    transform: scale(1.02);
  }

  &__photo {
    border-radius: 20px;
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
      width: 216px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 216px;
    }

    @media screen and (max-width: 767px) {
      width: 216px;
    }
  }

  &__name {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    text-transform: uppercase;

    color: var(--white-txt-color);

    margin-bottom: 5px;
  }

  &__title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: calc(18 / 12);

    color: var(--grey-txt-color);

    margin-bottom: 10px;
  }
}

.social {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;

  &__list:not(:last-child) {
    margin-right: 20px;
  }

  &__icon {
    width: 25px;
    height: 25px;

    border-radius: 25px;

    fill: var(--active-txt-color);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon:hover {
    box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  }
}
