.weekly-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-top: 52px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 80px;
    margin-bottom: 28px;
  }
}

.weekly-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-transform: uppercase;

  color: var(--white-txt-color);

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1280px) {
    font-size: 28px;
    line-height: 1.18;
  }
}

.weekly-link-all {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  color: var(--active-txt-color);

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1280px) {
    font-size: 28px;
    line-height: 1.18;
  }
}

.weekly-item:not(:last-child) {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.weekly-list {
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;
  }
}

.catalog-list__items-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog-list__ item:last-child {
  margin-right: auto;
}
.weekly-link:hover .weekly-wrapper,
.weekly-link:focus .weekly-wrapper {
  background-color: #0000002c;
}

.weekly-wrapper {
  position: relative;
  display: flex;
  // width: 280px;
  // height: 406px;
  border-radius: 4px;
  background-color: unset;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
  transition: background-color 300ms ease-in-out;
}

.weekly-img {
  display: block;
  object-fit: cover;
  z-index: -1;
  // width: 100%;
  border-radius: 5px;

  width: 280px;
  height: 406px;

  @media screen and (min-width: 768px) {
    width: 224px;
    height: 325px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 574px;
  }
}

.weekly-info {
  position: absolute;
  padding: 12px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--white-txt-color);

  @media screen and (min-width: 768px) {
    padding: 20px;
  }
}

.catalog-list__additional-info {
  display: flex;
  justify-content: space-between;
  color: var(--grey-txt-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
}

.weekly-info__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-transform: uppercase;

  color: var(--white-txt-color);

  @media screen and (min-width: 768px) {
    line-height: 1.5;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 1.15;
  }
}

.weekly-info__genres__data,
.weekly-rating {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  color: var(--grey-txt-color);

  @media screen and (min-width: 768px) {
    line-height: 1.5;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.15;
  }
}

.catalog-list__error {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//white-theme
.white-mode .weekly-title {
  color: var(--black-txt-color);
}
