.catalog.section {
  padding: 40px 0 10px 0;
}

.weekly-gallery {
  display: flex;
  gap: 16px;
}

.trend-list__list-wrapper {
  position: relative;
  display: flex;

  border-radius: 5px;

  @media screen and (max-width: 480px) {
    width: 280px;
    height: 406px;
  }
  @media screen and (min-width: 768px) {
    width: 224px;
    height: 325px;
  }
  @media screen and (min-width: 1200px) {
    width: 395px;
    height: 574px;
  }
}

.catalog-list__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
}

.catalog-list__image {
  display: block;
  width: 100%;
}
