.upcoming {
  padding: 0px 32px;
  margin-top: 65px;
}

.upcoming-title {
  margin-bottom: 28px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  text-transform: uppercase;

  /* White */

  color: #ffffff;
}

.upcoming-cover {
  display: flex;
}

.upcoming-img {
  margin-right: 16px;
  width: 805px;
  height: 458px;

  background: linear-gradient(
    307.47deg,
    rgba(0, 0, 0, 0.2) 23.85%,
    rgba(0, 0, 0, 0) 47.27%
  );
  // url(1236424.jpg);
  border-radius: 5px;
}

.upcoming-image {
  width: 100%;
  height: 100%;

  background: linear-gradient(
    307.47deg,
    rgba(0, 0, 0, 0.2) 23.85%,
    rgba(0, 0, 0, 0) 47.27%
  );
  // // url(1236424.jpg);
  border-radius: 5px;
}

.upcoming-info-title {
  margin-bottom: 28px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.18;

  color: #ffffff;
}

.upcoming-info {
  margin-bottom: 16px;
}

.info-list {
  display: flex;
}

.list-info:not(:last-child) {
  margin-bottom: 12px;
}

.upcoming-list__title {
  width: 50%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  color: #b7b7b7;
}

.upcoming-list__value {
  display: flex;
}

.upcoming-value-text {
  width: 36px;
  height: 18px;

  background: #ffffff;
  border-radius: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  justify-content: center;

  color: #111111;
}

.averange {
  margin-right: 4px;
}

.count {
  margin-left: 4px;
}

.upcoming-list__value-data {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-transform: uppercase;

  /* orange */

  color: #f87719;
}

.upcoming-list__value {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  // display: flex;
  // align-items: center;

  color: #ffffff;
}

// =========блок about=========

.movie-info {
  margin-bottom: 20px;
  width: 390px;
  min-height: 160px;
}
.info-title {
  margin-bottom: 16px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #b7b7b7;
}

.movie-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;

  color: #f8f8f8;
}

// =============кнопка================
.upcoming-btn {
  width: 119px;
  height: 40px;

  color: #111;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

//white-theme
.white-mode .upcoming-title {
  color: var(--black-txt-color);
}

.white-mode .upcoming-info-title {
  color: var(--black-txt-color);
}

.white-mode .upcoming-list__title {
  color: var(--black-txt-color);
}

.white-mode .upcoming-list__value {
  color: var(--black-txt-color);
}

.white-mode .info-title {
  color: var(--black-txt-color);
}

.white-mode .movie-description {
  color: var(--dark--txt-color);
}
