.upcoming {
  padding: 0px 32px;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    margin-top: 44px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 65px;
  }
}

.upcoming-title {
  margin-bottom: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
  color: var(--white-txt-color);

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 28px;
    font-size: 28px;
    line-height: 1.18;
  }
}

.upcoming-cover {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
  }
}

.upcoming-img {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 0px;
    margin-right: 16px;
  }
}

.upcoming-images {
  display: block;
  margin-bottom: 24px;
  width: 280px;
  height: 402px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    width: 704px;
    height: 400px;
    background: linear-gradient(
      307.47deg,
      rgba(0, 0, 0, 0.2) 23.85%,
      rgba(0, 0, 0, 0) 47.27%
    );
  }

  @media screen and (min-width: 1280px) {
    margin-right: 16px;
    width: 805px;
    height: 458px;
  }
}

.upcoming-image {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;

  border-radius: 5px;
}

.upcoming-info-title {
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;

  color: var(--white-txt-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 28px;

    font-size: 32px;
    line-height: 1.18;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 28px;
  }
}

.upcoming-info {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    margin-bottom: 20px;
  }
}

.info-box-r {
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    width: 50%;
  }
}

.info-box-l {
  // margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    width: 50%;
  }
}

.info-list {
  display: flex;
}

.list-info:not(:last-child) {
  margin-bottom: 12px;
}

.upcoming-list__title {
  width: 50%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  color: var(--seconday-txt-color);
}

.upcoming-list__value {
  display: flex;
}

.upcoming-value-text {
  width: 36px;
  height: 18px;

  background: #ffffff;
  border-radius: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  justify-content: center;

  color: #111111;
}

.averange {
  margin-right: 4px;
}

.count {
  margin-left: 4px;
}

.upcoming-list__value-data {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: var(--active-txt-color);
}

// =========блок about=========

.movie-info {
  margin-bottom: 20px;
  width: 390px;
  min-height: 160px;
}
.info-title {
  margin-bottom: 16px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #b7b7b7;
}

.movie-description {
  width: 280px;
  height: 220px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;

  color: var(--white-txt-color);

  @media screen and (min-width: 768px) {
    width: 625px;
    height: 100px;
  }

  @media screen and (min-width: 768px) {
    width: 625px;
    height: 100px;
  }
}

// =============кнопка================
.upcoming-btn {
  width: 119px;
  height: 40px;

  color: #111;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  cursor: pointer;
}
