@import './common';
@import './hidden';
@import './variables';
@import './reset';
@import './btn';
@import './header';
@import './home';
@import './hero';
@import './footer';
@import './modal';
@import './my-library';
@import './student';
@import './catalog-list';
@import './catalog-rating-stars';
@import './btn-go-top';
@import './trends';
@import './upcoming';
@import './hero-rating';
@import './pagination';
@import './spiner';

@import './modal-movie';

@import './hero-modal';
@import './_btn-load-more';
@import './modal-movie-card';

