<section class="catalog section">
  <div class="container">
    <h2 class="catalog-title visually-hidden">Catalog-list</h2>
    <form class="catalog-list__search-form" id="catalog-search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search"
        class="catalog-list__search-input"
      />
      <button type="submit" class="catalog-list__search-button">
        <svg width="13px" height="13px" class="catalog-list__search-icon">
          <use href="/src/images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <div class="catalog-list__items-list">
      <!-- Catalog list -->

      <a class="btn-to-top" title="Return to top">
        <span class="material-icons"
          ><img
            src="https://img.icons8.com/sf-regular-filled/48/null/double-up.png" /></span
      ></a>
    </div>
  </div>
</section>
