<section class="hero">
  <div class="container hero-container">
    <div class="hero-decription">
      <h1 class="hero-title">Let’s Make Your Own Cinema</h1>
      <p class="hero-text">
        Is a guide to creating a personalized movie theater experience. You'll
        need a projector, screen, and speakers.
        <span class="hero-text-more"
          >Decorate your space, choose your films, and stock up on snacks for
          the full experience.</span
        >
      </p>
      <a href="/src/catalog.html" class="btn hero-btn">Get Started</a>
    </div>
  </div>
</section>
