<section class="results container">
  <div class="container__top">
    <h2 class="upcoming-title">weekly trends</h2>
    <a href="/src/catalog.html" class="see__all">See all</a>
  </div>
  <div class="weekly-container">
    <div class="weekly-gallery">
      <!-- <div class="film-card">
        <a href="#">
          <div class="thumb">
            <img src="./images/film1.jpg" alt="film1" loading="lazy" />
          </div>
        </a>
        <div class="info">
          <p class="film-name">GREYHOUND</p>
          <p class="film-info">Drama, Action | 2020</p>
        </div>
      </div> -->
    </div>
  </div>
</section>
