<section class="upcoming">
  <div class="upcoming-container">
    <h2 class="upcoming-title">upcoming this mounth</h2>
    <div class="upcoming-cover"></div>

    <!-- <div class="film-card">
        <a href="#">
          <div class="thumb">
            <img src="./images/film1.jpg" alt="film1" loading="lazy" />
          </div>
        </a>
        <div class="info">
          <p class="film-name">GREYHOUND</p>
          <p class="film-info">Drama, Action | 2020</p>
        </div>
      </div> -->
  </div>
</section>

<!-- <div class="upcoming-info-cover">
    <div class="upcoming-info">
      <h2 class="upcoming-list__title">${title}</h2>

      <p class="upcoming-genre">
        ${getGenres(genre_ids)}
        <span class="upcoming-year">Release date ${release_date}</span>
      </p>
      <p class="upcoming-rating">${getStarsRating(vote_average)}</p>
    </div>

    <div class="movie-info">
      <h2 class="info-title">About</h2>
      <p class="movie-description"></p>
    </div>

    <button type="button" class="upcoming-btn">Remind me</button>
  </div> -->
