<h1 class="visually-hidden">HI</h1>
<section class="upcoming container">
  <h2 class="upcoming-title">UPCOMING THIS MOUNTH</h2>
  <div class="upcoming-container">
    <!-- <div class="film-card">
        <a href="#">
          <div class="thumb">
            <img src="./images/film1.jpg" alt="film1" loading="lazy" />
          </div>
        </a>
        <div class="info">
          <p class="film-name">GREYHOUND</p>
          <p class="film-info">Drama, Action | 2020</p>
        </div>
      </div> -->
  </div>
</section>
