<div class="modal" data-modal="likes">
  <svg class="close-btn js-modal-close">
    <use href="./images/symbol-defs.svg#close-outline"></use>
  </svg>

  <ul class="student">
    <li class="student__item">
      <picture class="student__box">
        <source
          srcset="./images/tetiana.jpg 1x, ./images/tetiana.jpg 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="./images/tetiana.jpg 1x, ./images/tetiana.jpg 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/tetiana.jpg 1x, ./images/tetiana.jpg 2x"
          media="(min-width:480px)"
        />
        <img
          srcset="./images/tetiana.jpg 1x, ./images/tetiana.jpg 2x"
          src="./images/tetiana.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Onyshchenko Tetiana</h3>
      <p class="student__title">Scrum-master</p>
      <ul class="social">
        <li class="social__list">
          <a href="https://www.linkedin.com/in/tetiana-onyshchenko-5880b9251/" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/Tetiana892" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <source
          srcset="./images/natalia.jpg 1x, ./images/natalia.jpg 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="./images/natalia.jpg 1x, ./images/natalia.jpg 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/natalia.jpg 1x, ./images/natalia.jpg 2x"
          media="(min-width:480px)"
        />
        <img
          srcset="./images/natalia.jpg 1x, ./images/natalia.jpg 2x"
          src="./images/natalia.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Movchan Natalia</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a href="#" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/MovchanNatalia" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <source srcset="./images/yuriy.jpg 1x, ./images/yuriy.jpg 2x" media="(min-width:1200px)" />
        <source srcset="./images/yuriy.jpg 1x, ./images/yuriy.jpg 2x" media="(min-width:768px)" />
        <source srcset="./images/yuriy.jpg 1x, ./images/yuriy.jpg 2x" media="(min-width:480px)" />
        <img
          srcset="./images/yuriy.jpg 1x, ./images/yuriy.jpg 2x"
          src="./images/yuriy.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Atamanenko Yuriy</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a href="https://www.linkedin.com/in/yuriy-atamanenko/" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/YuriyAtamanenko" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <source
          srcset="./images/serhii.jpg 1x, ./images/serhii.jpg 2x"
          media="(min-width:1200px)"
        />
        <source srcset="./images/serhii.jpg 1x, ./images/serhii.jpg 2x" media="(min-width:768px)" />
        <source srcset="./images/serhii.jpg 1x, ./images/serhii.jpg 2x" media="(min-width:480px)" />
        <img
          srcset="./images/serhii.jpg 1x, ./images/serhii.jpg 2x"
          src="./images/serhii.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Shvets Serhii</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a href="https://www.linkedin.com/in/serhii-shvets-0a7234275/" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/SerhiiOd" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <source
          srcset="./images/mykhailo.jpg 1x, ./images/mykhailo.jpg 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="./images/mykhailo.jpg 1x, ./images/mykhailo.jpg 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/mykhailo.jpg 1x, ./images/mykhailo.jpg 2x"
          media="(min-width:480px)"
        />
        <img
          srcset="./images/mykhailo.jpg 1x, ./images/mykhailo.jpg 2x"
          src="./images/mykhailo.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Popyzenko Mykhailo</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a href="#" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/pasazhyr99th" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <source
          srcset="./images/marina.jpg 1x, ./images/marina.jpg 2x"
          media="(min-width:1200px)"
        />
        <source srcset="./images/marina.jpg 1x, ./images/marina.jpg 2x" media="(min-width:768px)" />
        <source srcset="./images/marina.jpg 1x, ./images/marina.jpg 2x" media="(min-width:480px)" />
        <img
          srcset="./images/marina.jpg 1x, ./images/marina.jpg 2x"
          src="./images/marina.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Lisovskaya Marina</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a href="#" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/LISOVSMA" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <source
          srcset="./images/evgeniy.jpg 1x, ./images/evgeniy.jpg 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="./images/evgeniy.jpg 1x, ./images/evgeniy.jpg 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/evgeniy.jpg 1x, ./images/evgeniy.jpg 2x"
          media="(min-width:480px)"
        />
        <img
          srcset="./images/evgeniy.jpg 1x, ./images/evgeniy.jpg 2x"
          src="./images/evgeniy.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Veseliak Evgeniy</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a href="#" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/EV7EV" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="modal" data-modal="" id="">
  <svg class="close-btn js-modal-close">
    <use href="./images/symbol-defs.svg#close-outline"></use>
  </svg>
</div>

<!-- <div class="modal" data-modal="" id="">
  <svg class="close-btn js-modal-close">
    <use href="./images/symbol-defs.svg#close-outline"></use>
  </svg>
</div> -->

<div class="overlay js-overlay-modal"></div>
