<div class="modal" data-modal="likes">
  <svg class="close-btn js-modal-close">
    <use href="./images/symbol-defs.svg#close-outline"></use>
  </svg>

  <ul class="student">
    <li class="student__item">
      <picture class="student__box">
        <img src="./images/tetiana.jpg" alt="photo" class="student__photo" />
      </picture>
      <h3 class="student__name">Onyshchenko Tetiana</h3>
      <p class="student__title">Scrum-master</p>
      <ul class="social">
        <li class="social__list">
          <a href="https://www.linkedin.com/in/tetiana-onyshchenko-5880b9251/" class="social__link">
            <svg class="social__icon">
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/Tetiana892" class="social__link">
            <svg class="social__icon">
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <img src="./images/natalia.jpg" alt="photo" class="student__photo" />
      </picture>
      <h3 class="student__name">Movchan Natalia</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a href="#" class="social__link">
            <svg class="social__icon">
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/MovchanNatalia" class="social__link">
            <svg class="social__icon">
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <img src="./images/yuriy.jpg" alt="photo" class="student__photo" />
      </picture>
      <h3 class="student__name">Yuriy Atamanenko</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a href="https://www.linkedin.com/in/yuriy-atamanenko/" class="social__link">
            <svg class="social__icon">
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/YuriyAtamanenko" class="social__link">
            <svg class="social__icon">
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <img src="./images/serhii.jpg" alt="photo" class="student__photo" />
      </picture>
      <h3 class="student__name">Shvets Serhii</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a href="https://www.linkedin.com/in/serhii-shvets-0a7234275/" class="social__link">
            <svg class="social__icon">
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/SerhiiOd" class="social__link">
            <svg class="social__icon">
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="modal" data-modal="" id="">
  <svg class="close-btn js-modal-close">
    <use href="./images/symbol-defs.svg#close-outline"></use>
  </svg>
</div>

<!-- <div class="modal" data-modal="" id="">
  <svg class="close-btn js-modal-close">
    <use href="./images/symbol-defs.svg#close-outline"></use>
  </svg>
</div> -->

<div class="overlay js-overlay-modal"></div>
