<div class="overlay js-overlay-modal"></div>
<div class="modal" data-modal="likes">
  <svg class="close-btn js-modal-close">
    <use href="./images/symbol-defs.svg#close-outline"></use>
  </svg>

  <ul class="student">
    <li class="student__item">
      <picture class="student__box">
        <source
          srcset="./images/yuliia.jpg 1x, ./images/yuliia.jpg 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="./images/yuliia.jpg 1x, ./images/yuliia.jpg 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/yuliia.jpg 1x, ./images/yuliia.jpg 2x"
          media="(min-width:480px)"
        />
        <img
          srcset="./images/yuliia.jpg 1x, ./images/yuliia.jpg 2x"
          src="./images/yuliia.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Tkach Yuliia</h3>
      <p class="student__title">Team Lead</p>
      <ul class="social">
        <li class="social__list">
          <a
            href="https://www.linkedin.com/in/yuliia-tkach-ovcharenko-36a9ab211/"
            class="social__link"
          >
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/YuliaMoore" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <source
          srcset="./images/tetiana.jpg 1x, ./images/tetiana.jpg 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="./images/tetiana.jpg 1x, ./images/tetiana.jpg 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/tetiana.jpg 1x, ./images/tetiana.jpg 2x"
          media="(min-width:480px)"
        />
        <img
          srcset="./images/tetiana.jpg 1x, ./images/tetiana.jpg 2x"
          src="./images/tetiana.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Onyshchenko Tetiana</h3>
      <p class="student__title">Scrum-master</p>
      <ul class="social">
        <li class="social__list">
          <a
            href="https://www.linkedin.com/in/tetiana-onyshchenko-5880b9251/"
            class="social__link"
          >
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/Tetiana892" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <source
          srcset="./images/natalia.jpg 1x, ./images/natalia.jpg 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="./images/natalia.jpg 1x, ./images/natalia.jpg 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/natalia.jpg 1x, ./images/natalia.jpg 2x"
          media="(min-width:480px)"
        />
        <img
          srcset="./images/natalia.jpg 1x, ./images/natalia.jpg 2x"
          src="./images/natalia.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Movchan Natalia</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a href="#" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/MovchanNatalia" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <source
          srcset="./images/yuriy.jpg 1x, ./images/yuriy.jpg 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="./images/yuriy.jpg 1x, ./images/yuriy.jpg 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/yuriy.jpg 1x, ./images/yuriy.jpg 2x"
          media="(min-width:480px)"
        />
        <img
          srcset="./images/yuriy.jpg 1x, ./images/yuriy.jpg 2x"
          src="./images/yuriy.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Atamanenko Yuriy</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a
            href="https://www.linkedin.com/in/yuriy-atamanenko/"
            class="social__link"
          >
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/YuriyAtamanenko" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <source
          srcset="./images/serhii.jpg 1x, ./images/serhii.jpg 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="./images/serhii.jpg 1x, ./images/serhii.jpg 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/serhii.jpg 1x, ./images/serhii.jpg 2x"
          media="(min-width:480px)"
        />
        <img
          srcset="./images/serhii.jpg 1x, ./images/serhii.jpg 2x"
          src="./images/serhii.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Shvets Serhii</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a
            href="https://www.linkedin.com/in/serhii-shvets-0a7234275/"
            class="social__link"
          >
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/SerhiiOd" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <source
          srcset="./images/mykhailo.jpg 1x, ./images/mykhailo.jpg 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="./images/mykhailo.jpg 1x, ./images/mykhailo.jpg 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/mykhailo.jpg 1x, ./images/mykhailo.jpg 2x"
          media="(min-width:480px)"
        />
        <img
          srcset="./images/mykhailo.jpg 1x, ./images/mykhailo.jpg 2x"
          src="./images/mykhailo.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Popyzenko Mykhailo</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a href="#" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/pasazhyr99th" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <source
          srcset="./images/marina.jpg 1x, ./images/marina.jpg 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="./images/marina.jpg 1x, ./images/marina.jpg 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/marina.jpg 1x, ./images/marina.jpg 2x"
          media="(min-width:480px)"
        />
        <img
          srcset="./images/marina.jpg 1x, ./images/marina.jpg 2x"
          src="./images/marina.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Lisovska Maryna</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a href="#" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/LISOVSMA" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <source
          srcset="./images/evgeniy.jpg 1x, ./images/evgeniy.jpg 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="./images/evgeniy.jpg 1x, ./images/evgeniy.jpg 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/evgeniy.jpg 1x, ./images/evgeniy.jpg 2x"
          media="(min-width:480px)"
        />
        <img
          srcset="./images/evgeniy.jpg 1x, ./images/evgeniy.jpg 2x"
          src="./images/evgeniy.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Veseliak Evgeniy</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a href="#" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/EV7EV" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <source
          srcset="./images/vitalii.jpg 1x, ./images/vitalii.jpg 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="./images/vitalii.jpg 1x, ./images/vitalii.jpg 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/vitalii.jpg 1x, ./images/vitalii.jpg 2x"
          media="(min-width:480px)"
        />
        <img
          srcset="./images/vitalii.jpg 1x, ./images/vitalii.jpg 2x"
          src="./images/vitalii.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Luchkevych Vitalii</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a href="#" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/Vetik007" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>

    <li class="student__item">
      <picture class="student__box">
        <source
          srcset="./images/volodymyr.jpg 1x, ./images/volodymyr.jpg 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="./images/volodymyr.jpg 1x, ./images/volodymyr.jpg 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/volodymyr.jpg 1x, ./images/volodymyr.jpg 2x"
          media="(min-width:480px)"
        />
        <img
          srcset="./images/volodymyr.jpg 1x, ./images/volodymyr.jpg 2x"
          src="./images/volodymyr.jpg"
          alt="photo"
          class="student__photo"
        />
      </picture>
      <h3 class="student__name">Romanchuk Volodymyr</h3>
      <p class="student__title">Developer</p>
      <ul class="social">
        <li class="social__list">
          <a href="#" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social__list">
          <a href="https://github.com/kirsland" class="social__link">
            <svg
              class="social__icon animate__animated animate__swing animate__delay animate__infinite"
            >
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<!-- <div class="modal error" data-modal="error" id="error">
  <svg class="close-btn js-modal-close">
    <use href="./images/symbol-defs.svg#close-outline"></use>
  </svg>
  <div class="catalog-list__error">
    <h2 class="catalog-list__error-title">OOPS...</h2>
    <p class="catalog-list__error-text">We are very sorry!</p>

    <p class="catalog-list__error-text">
      We don’t have any results due to your search.
    </p>
    <div></div>

    <!-- <div class="modal modal-card" data-modal="movie-card" id="movie-card">
      <svg class="close-btn js-modal-close">
        <use href="./images/symbol-defs.svg#close-outline"></use>
      </svg>
      <div class="movie-card__wrapper">
        <!-- картка-->
<!-- <h2>Information about film</h2>
        <button class="button-add-library btn">Add to my library</button>
        <button class="button-trailer btn">Watch trailer</button> -->
<!-- </div>
    </div> -->
-->

<div class="modal-card" data-modal="movie-card" id="movie-card">
  <svg class="close-btn js-modal-close">
    <use href="./images/symbol-defs.svg#close-outline"></use>
  </svg>
  <div class="movie-card__wrapper">
    <h2>Information about film</h2>
    <button class="button-add-library btn">Add to my library</button>
    <button class="button-trailer btn">Watch trailer</button>
  </div>
</div>

<!-- <div class="modal" data-modal="" id="">
  <svg class="close-btn js-modal-close">
    <use href="./images/symbol-defs.svg#close-outline"></use>
  </svg>
</div> -->
